<div class="list-group-item news-list-title">
    <a href="#"><h3>Breaking news</h3></a>
    <div class="news-list">
        <ul class="list-group">

            <li class="list-group-item">
                <a href="#"><h4><b>title</b></h4></a>
                <p>body</p>
                <h5><b>author</b></h5>
                <span><i>Published at: </i></span>
            </li>

        </ul>
    </div>
</div>
<div class="list-group-item news-list-title">
    <a href="#"><h3>Cars & Vehicles</h3></a>
    <div class="news-list">
        <ul class="list-group">

            <li class="list-group-item">
                <a href="#"><h4><b>title</b></h4></a>
                <p>body</p>
                <h5><b>author</b></h5>
                <span><i>Published at: </i></span>
            </li>

        </ul>
    </div>
</div>
<div class="list-group-item news-list-title">
    <a><h3>Technology</h3></a>
    <div class="news-list">
        <ul class="list-group">

            <li class="list-group-item">
                <a href="#"><h4><b>title</b></h4></a>
                <p>body</p>
                <h5><b>author</b></h5>
                <span><i>Published at: </i></span>
            </li>

        </ul>
    </div>
</div>
<div class="list-group-item news-list-title">
    <a><h3>Sports</h3></a>
    <div class="news-list">
        <ul class="list-group">

            <li class="list-group-item">
                <a href="#"><h4><b>title</b></h4></a>
                <p>body</p>
                <h5><b>author</b></h5>
                <span><i>Published at: </i></span>
            </li>

        </ul>
    </div>
</div>