<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Create new article</h1>
            <hr>
            <form>
                <div class="form-group">
                    <label class="control-label" for="categories">Choose article category</label>
                    <select class="form-control" id="categories" ng-model="categories">
                        <option value="Cars & Vehicles">Cars & Vehicles</option>
                        <option value="Technology">Technology</option>
                        <option value="Sport">Sport</option>
                    </select>
                    <label class="control-label" for="author">Author name:</label>
                    <input id="author" class="form-control text-capitalize" name="author" type="text" ng-model="author">
                    <label class="control-label" for="articleName">Article name:</label>
                    <input id="articleName" class="form-control text-capitalize" name="articleName" type="text" ng-model="articleName">
                    <label class="control-label" for="articleBody">Article body:</label>
                    <textarea id="articleBody" class="form-control" name="articleBody" ng-model="articleBody"></textarea><br>
                    <div class="row">
                        <div class="col-md-5">
                            <label class="control-label" for="image">Select your image:</label>
                            <input id="image" name="image" type="file" ng-model="image">
                        </div>
                        <div class="col-md-7">
                            <button type="submit" class="btn btn-success btn-lg btn-block">Post the article</button>
                        </div>
                    </div>
                </div>
            </form>
            <hr>
            <!--@if($errors->any())-->
            <!--<div class="alert alert-danger" role="alert">-->
                <!--@foreach($errors->all() as $error)-->
                <!--<li>{{ $error }}</li>-->
                <!--@endforeach-->
            <!--</div>-->
            <!--@endif-->
        </div>
    </div>
</div>